body {
    font-family: Arial;
    background: #0f2027;
    color: white;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #28a745;
    border: none;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: center;
}

th {
    background: #203a43;
}
